process {
    publishDir = {"./results/$sid/$task.process"}
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

params {
    fw_nb_threads=1
    para_diff=1.5e-3
    iso_diff=3e-3
    perp_diff_min=0.1e-3
    perp_diff_max=0.7e-3
    lambda1=0
    lambda2=1e-3
}
