process {
    publishDir = {"./results/$sid/$task.process"}
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

params {
    output_dir="./results/"
    nb_threads=1
    para_diff=1.5e-3
    iso_diff=3e-3
    perp_diff_min=0.1e-3
    perp_diff_max=0.7e-3
    lambda1=0
    lambda2=0.25
    b_thr=40
}

if(params.output_dir) {
    process.publishDir = {"$params.output_dir/$sid/$task.process"}
}

singularity.autoMounts=true
